version: '3.8'

services:
  next-app:
    build: .
    env_file:
      - ./.env
    ports:
      - "3000:3000"
    networks:
      - next-network
    restart: unless-stopped

networks:
  next-network:
    driver: bridge
