.hexagon {
    position: relative;
    aspect-ratio: 1;
    clip-path: polygon(25% 6%, 75% 6%, 100% 50%, 75% 94%, 25% 94%, 0% 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hexagonContainer {
    position: relative;
    aspect-ratio: 1;
    clip-path: polygon(25% 6%, 75% 6%, 100% 50%, 75% 94%, 25% 94%, 0% 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #401d59;
}

.hexagonWhiteContainer {
    position: relative;
    aspect-ratio: 1;
    clip-path: polygon(25% 6%, 75% 6%, 100% 50%, 75% 94%, 25% 94%, 0% 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #fff;
}
