.content-editor {
    height: 300px;
    width: 100%;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 4px;
    overflow: scroll;

    &.error {
        border: 1px solid hsl(0, 90%, 40%);
    }
}

.content-placeholder {
    position: absolute;
    top: 8px;
    left: 10px;
}
ol,
ul {
    padding-left: 20px; /* Adjust this value as needed */
    margin-bottom: 1em; /* Adds space below the list */
}
